*{
    margin: 0px;
    padding: 0px;
}
.navbar{
    font-family:"Gill Sans", sans-serif;
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    height: 5em;
    background-color:rgb(184, 206, 238);
}
h1{
    width: 30em;
}
.title{
    margin-left:22em;
    padding-top: 3em;
    width: 10em;
}
.container{
    background-color: rgb(191, 235, 239);
    height: 40em;
}
.boxes{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 5em;
    padding-left:10em;
    padding-right:10em;
}
.box1,.box2,.box3{
   /* border:2px solid black;*/
   display: flex;
   flex-direction: column;
   justify-content: space-evenly;
   align-items: center;
    background-color: rgb(248, 225, 229);
    width: 15em;
    height: 18em;
    box-shadow: 8px 8px 5px 2px rgb(193, 146, 152);  
}
.circle{
    background-color: rgb(211, 209, 209);
    border-radius: 8em;
    width: 5em;
    height: 5em;
    
}

